@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    list-style-position: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.middle-content{
    max-width: 1650px;
    margin: 0 auto;
}
input:checked{
    border: none;
}
/* header */
header{
    background: white;
    position: fixed;
    width: 100%;
    height: 126px;
    top: 0px;
    font-family: 'Inter700';
    border-bottom: 1px solid black;
}
.header-content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.logo{
    margin-left: 140px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.logo img{
    width: 44px;
    height: 44px;
}
.logo span{
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    vertical-align: top;
    margin-left: 30px;
}
.header-nav{
    margin-right: 150px;
    margin-top: 50px;
    word-spacing: 20px;
}
.header-nav li {
    display: inline;
}
/* heros section */
.heros-section{
    margin-top: 176px;
}
.section-form{
    width: 100%;
    margin-bottom: 50px;
}
input{
    width: 100%;
    margin-left: 80px;
    height: 83px;
    outline: none;
    border-style: none solid none none;
    font-size: 32px;
}
.section-boxes{
    display: grid;
    grid-template-columns:400px 400px 400px 400px;
    grid-template-rows: 460px 460px 460px 460px;
    grid-gap: 20px;
    margin-bottom: 50px;
}
form{
    width: 100%;
    height: 87px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 62px;
    display: grid;
    grid-template-columns: 65% 30% 5%
}
select{ 
    width: 100%;
    height: 100%;
    font-size: 32px;
    font-family: 'Inter300';
    border-style: none;
    border: 0cm;
}
form button{
    background-color: white;
    border: none;
    width: 10%;
    margin-left: 15px;
}
/* box styles */
.section-box{
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 30px;
    width: 100%;
    height: 100%;
}
.box-content{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 20px 20px 80px;
    padding: 0 25px 0 25px;
}
.box-person{
    font-family: 'Inter700';
    font-size: 20px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    white-space: nowrap;
}
.box-deal{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20%;
    text-align: left;
    grid-column: 1/3;
}
.box-person-value{
    font-family: 'Inter300';
    font-size: 15px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;
}

.box-person-value-text span{
    font-family: 'Inter700';
    font-size: 16px;
}
.box-rating-profession{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20%;
    grid-column: 1/3;
    text-align: left;
}
.box-profession{
    grid-column: 1/2;
    font-family: 'Inter300';
    font-size: 14px;
}
.box-rating{
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
}
.box-rating-overall{
    font-family: 'Inter400';
}
.box-send-button{
    grid-column: 1/3;
    grid-row: 3/5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.box-send-button button{
    width: 225px;
    height: 50px;
    background: #087DBF;
    color: white;
    border-radius: 25px;
    border: none;
}
.box-send-button span{
    font-family: 'Inter700';
    font-size: 20px;
    line-height: 24px;
    vertical-align: middle;
}
.box-send-button img{
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
.box-image img{
    width: 100%;
    height: 100%;
    padding: 15px 20px 0 20px;
}
@media (max-width: 1660px){
    .section-boxes{
        grid-gap: 20px;
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: repeat(4, 360px);
        justify-content: center;
    }
    .box-deal{
        grid-gap: 0;
    }
}
@media (max-width: 1280px){
    .section-boxes{
        grid-template-columns: repeat(3,300px);
        grid-template-rows: repeat(6, 360px);
    }
}
@media (max-width: 1024px){
    .section-boxes{
        grid-template-columns: repeat(2,300px);
        grid-template-rows: repeat(6, 360px);
    }
    .logo{
        margin-left: 40px;
    }
}