@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:400');
@font-face {
    font-family: 'inter700';
    src: url(../font/inter-Bold.ttf);
}
@font-face {
    font-family: 'inter300';
    src: url(../font/inter-Light.ttf);
}