@font-face {
    font-family: 'PoppinsLight';
    src: url(../font/poppins-Light.ttf);
}
@font-face {
    font-family: 'PoppinsRegular';
    src: url(../font/poppins-Regular.ttf);
}
@font-face {
    font-family: 'PoppinsBold';
    src: url(../Font/poppins-Bold.ttf);
}
.poppins-light{
    font-family: 'PoppinsLight';
}
.poppins-regular{
    font-family: 'PoppinsRegular';
}
.poppins-bold{
    font-family: 'PoppinsBold';
}