@font-face {
    font-family: 'poppinsLight';
    src: url(../font/poppins-light.ttf) format(TrueType);
}
@font-face {
    font-family: 'poppinsRegular';
    src: url(../font/poppins-regular.ttf) format(TrueType);
}
@font-face {
    font-family: 'poppinsBold';
    src: url(../Font/poppins-bold.ttf) format(TrueType);
}
.poppins-light{
    font-family: 'poppinsLight';
}
.poppins-regular{
    font-family: 'poppinsRegular';
}
.poppins-bold{
    font-family: 'poppinsBold';
}